packages/
bin/
obj/
ARV.Web/media/
ARV.Web/obj/
ARV.Web/App_Data/TEMP/
ARV.Web/App_Data/Logs/
ARV.Web/App_Data/cache/
Libs/ARV.Util/obj/
ARV.Data/obj/
Reactive.eWay/obj/
ARV.Web/App_Data/umbraco.licensing.log.txt
ARV.Web/App_Data/justDelete_1a90c9d1-dc29-45b7-917f-c354549a0f4a.ucf
.vs/config/applicationhost.config
ARV.Web/App_Data/umbraco.config
*.suo
*.user
FEDResources/node_modules/
virtual-tours/
media/
NuGetBackUp/
ARV.Web/App_Data/